@model HomePageBlogItemsModel
@using Nop.Web.Models.Blogs;
@if (Model.BlogPosts.Count > 0)
{
	<div class="block block-news-navigation">
		<div class="title">
			<strong>@T("Blog")</strong>
		</div>
		<div class="clear">
		</div>
		<div class="listbox">
			<ul>
				@foreach (var item in Model.BlogPosts)
				{
					<li>
						<div class="post">
							<a class="blog-title" href="@Url.RouteUrl("BlogPost", new { blogPostId = item.Id, SeName = item.SeName })">
								@item.Title</a>
							<div class="blog-date">@item.CreatedOn.ToString("D")</div>
						</div>
					</li>
				}
			</ul>
			<div class="view-all">
				<a href="@Url.RouteUrl("Blog")">
					@T("Blog.ViewAll")</a>
			</div>
		</div>
	</div>
}