<div class="header">
    @Html.Widget("header")
    <div class="header-logo">
        <a href="@Url.RouteUrl("HomePage")" class="logo">&nbsp; </a>
    </div>
    <div class="header-links-wrapper">
        @Html.Action("HeaderLinks", "Common")
        @Html.Action("FlyoutShoppingCart", "ShoppingCart")
        @Html.Action("SearchBox", "Catalog")
    </div>
</div>