@{
	Layout = "~/Views/Shared/_CustomRoot.cshtml";
}
@{
    
	//current category ID
	int currentCategoryId = 0;
	if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
		Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
	{
		currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
	}


	//current manufacturer ID
	int currentManufacturerId = 0;
	if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
		Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
	{
		currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
	}


	//current product ID
	int currentProductId = 0;
	if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
		Url.RequestContext.RouteData.Values["action"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase))
	{
		currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
	}
}
<div class="master-wrapper-leftside-3">
	@if (IsSectionDefined("left"))
 {
		@RenderSection("left")
 }
 else
 {
		@Html.Widget("left_side_column_before")
		<div class="clear">
		</div>
		@Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
		<div class="clear">
		</div>
		<div>
			@*<a class="free-pack" href="#">Раздачи</a>*@
		</div>
		<div class="clear">
		</div>
		@Html.Action("NewsBlock", "News")
		<div class="clear">
		</div>
		<div>
			@Html.ActionLink(T("AskQuestion").Text, "ContactUs", "Common", null, null, "contact-us-form", null, new { @class = "faq" })
		</div>
		<div class="clear">
		</div>
		@Html.Action("BlogBlock", "Blog")
		<div class="clear">
		</div>
		<div class="phones-block">
			<div class="ico"></div>
			<table>
				<tr>
					<td><div class="life"></div></td>
					<td>+38 (093) 653-93-80</td>
				</tr>
				<tr>
					<td><div class="kvs"></div></td>
					<td>+38 (096) 661-85-11</td>
				</tr>
				<tr>
					<td><div class="mts"></div></td>
					<td>+38 (099) 950-11-32</td>
				</tr>
			</table>
		</div>
		@Html.Widget("left_side_column_after")
 }
</div>
<div class="master-wrapper-center-3">
	<div class="clear">
	</div>
	<div class="master-wrapper-center-menu">
		@if (IsSectionDefined("menu"))
		  {
				@RenderSection("menu")
		  }
		  else
		  {
				@Html.Action("Menu", "Common")
		  }
	</div>
	<div class="clear">
	</div>
	<div class="master-wrapper-center-content">
		@Html.Widget("main_column_before")
		@RenderBody()
		@Html.Widget("main_column_after")
	</div>
</div>
