@model IList<ProductSpecificationModel>
@using Nop.Web.Models.Catalog;
@if (Model.Count > 0)
{
    <div class="product-specs-box">
        <div class="product-specs-list">
            <table class="data-table">
                <col width="25%" />
                <col />
                <tbody>
                    @foreach (var item in Model.Where(x => x.SpecificationAttributeOrder < 7))
                    {
                        <tr>
                            <td class="a-left specname">
                                @T("Admin.Catalog.Products.SpecificationAttributes.Books." + item.SpecificationAttributeName)
                            </td>
                            <td class="a-left specvalue">
                                @item.SpecificationAttributeOption
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @{
                var itemsAdditionally = Model.Where(x => x.SpecificationAttributeOrder > 6);
            }
            @if (itemsAdditionally.Any())
            {
                <div class="additionally inactive">@T("Products.Specs.Additionally")</div>
                <table class="data-table-additionally">
                    <col width="25%" />
                    <col />
                    <tbody>
                        @foreach (var item in itemsAdditionally)
                        {
                            <tr>
                                <td class="a-left specname">
                                    @T("Admin.Catalog.Products.SpecificationAttributes.Books." + item.SpecificationAttributeName)
                                </td>
                                <td class="a-left specvalue">
                                    @item.SpecificationAttributeOption
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}