@model ProductOverviewModel
@using Nop.Web.Models.Catalog;
@{
    //prepare "Add to cart" AJAX link
    string addtocartlink = "";
    if (Model.ProductPrice.ForceRedirectionAfterAddingToCart)
    {
        addtocartlink = Url.RouteUrl("AddProductToCart", new { productId = Model.Id, forceredirection = Model.ProductPrice.ForceRedirectionAfterAddingToCart });
    }
    else
    {
        addtocartlink = Url.RouteUrl("AddProductToCart", new { productId = Model.Id });
    }    
}
<div class="product-item" data-productid="@Model.Id">
    <div class="picture">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })" title="@Model.DefaultPictureModel.Title">
            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" />
        </a>
    </div>
    <h2 class="product-title">
        <a href="@Url.RouteUrl("Product", new { SeName = Model.SeName })">@Model.Name</a>
    </h2>
    
        @if (Model.SpecificationAttributeModels.Any(x => x.SpecificationAttributeName == "Author"))
        {
			var attr = Model.SpecificationAttributeModels.First(x => x.SpecificationAttributeName == "Author");			
            <div class="author">
				@Html.ActionLink(attr.SpecificationAttributeOption, "SearchBySpecification", "Catalog", new { id = attr.SpecificationAttributeId, value = attr.SpecificationAttributeOption }, new { })
            </div>
        }
    
    <div class="add-info">
        <div class="prices">
            @if (!String.IsNullOrEmpty(Model.ProductPrice.OldPrice))
            {
                <div class="old-product-price">
                    <span class="price">@Model.ProductPrice.OldPrice</span>
                </div>
            }
            <div class="product-price">
                <span class="price">@Model.ProductPrice.Price</span>
            </div>
        </div>
        <div class="buttons">
            @if (!Model.ProductPrice.DisableBuyButton)
            {
                @*@(Model.ProductPrice.AvailableForPreOrder ? T("ShoppingCart.PreOrder") : T("ShoppingCart.AddToCart"))*@
                <input type="button" class="button-2 product-box-add-to-cart-button" onclick="AjaxCart.addproducttocart('@addtocartlink    ');return false;" />
            }
        </div>
        @Html.Widget("productbox_add_info")
    </div>
</div>
