@model HomePageNewsItemsModel
@using Nop.Web.Models.News;
@if (Model.NewsItems.Count > 0)
{
	<div class="block block-news-navigation">
		<div class="title">
			<strong>@T("News")</strong>
		</div>
		<div class="clear">
		</div>
		<div class="listbox">
			<ul>
				@foreach (var item in Model.NewsItems.Take(2))
				{
					<li>
						<div class="item">
							<a class="news-title" href="@Url.RouteUrl("NewsItem", new { newsItemId = item.Id, SeName = item.SeName })">
								@item.Title</a>
							<div class="news-date">@item.CreatedOn.ToString("D")</div>
							<div class="news-details">
								@Html.Raw(item.Short)
							</div>
							<a href="@Url.RouteUrl("NewsItem", new { newsItemId = item.Id, SeName = item.SeName })" class="read-more">
								@T("News.MoreInfo")</a>
						</div>
					</li>
				}
			</ul>
			<div class="view-all">
				<a href="@Url.RouteUrl("NewsArchive")">
					@T("News.ViewAll")</a>
			</div>
		</div>
	</div>
}